/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0px;
    padding: 5px;
    border: 1em;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    background-color: #1F2937;
    font-size: 18px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex: 1;
}

a:link {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #125ec2;
}

a:hover { 
    text-decoration: none;
    color: greenyellow;
}

a:active {
    text-decoration: none;
}

.link {
    color: #E5E7EB;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1000px;
    margin-top: 75px;
    margin-bottom: 100px;
}

.herotext {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.heading,
.herop {
    flex: 1
}

.signup {
    background-color: #3882E6;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 3px 30px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .signup:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .signup:hover {
    background-color: #4280d1;
  }
  
  .signup:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .signup:disabled {
    background-color: #125ec2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .signup:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

.herop {
    font-size: 18px;
}

.heading {
    font-size: 48px;
    font-style: bold;
    color: #F9FAF8;
    font-weight: bold;
}
.heroimage {
    content: 100px;
    margin: 1em;
    height: 200px;
    width: 750px;
    padding: 50px 150px;
    background-color: #6D747D;
    color: white;
}

.section3 {
  background-color: white;
  color: #1F2937;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

.block2 {
  background-color: white;
  padding-bottom: 50px;
}

.block3 {
  background-color: #E5E7EB;
} 

.pictures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: auto;
  padding: 10px;
  flex-wrap: wrap;
  width: 1000px;
  height: auto;
}

.caption {
  flex: 1;
  flex-wrap: wrap;
  text-align: center;
  width: 200px;
}

.picture {
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
}

img {
  border-color: #3882F6;
  border-radius: 10px;
  border-style: solid;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  color: #1F2937;
  margin: auto;
  padding: 100px;
  width: 50%;
}

.testimonial {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    flex: 1;
    align-items: center;
}

.author {
    align-self: flex-end;
    flex: 1;
}

.signup2 {
    background-color: #3882F6;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgba(233, 235, 238, 0.15);
    border-radius: 6px;
    box-shadow: rgba(233, 236, 240, 0.1) 0 1px 0;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 5px;
    padding: 15px 30px;
    position: relative;
    user-select: none;
    margin-left: 4em;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 120px;
    height: 35px;
}

.block4 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: #3882F6;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin: 100px;
  padding: 40px;
  border-radius: 6px;
}

.CTA {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.CTAhead {
  font-weight: 300;
  font-style: bold;
  color: white;
}

.CTAtext {
  color: white;
}

footer {
  text-align: center;
  color: #F9FAF8;
}